body {
background-color: lightgrey;
text-align: center;
	}

p {
color: green;

	}


code {
	color: green;

	}

ol {
	font-family: calibir light;

	}

li {
	text-align: justify;
	margin-left: 800px;

}
